# Streamlit web framework
streamlit>=1.25.0

# Data manipulation
pandas>=2.1.0
numpy>=1.26.0

# Machine learning models
scikit-learn>=1.3.0
xgboost>=1.7.6

# Plotting
plotly>=5.21.0
pillow>=10.1.0  # for image handling

# Optional: caching / performance
joblib>=1.3.2
